.wrapper {
    width: 1350px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 200px;
    border-radius: 0 25px 0 25px;
    box-shadow:
        19.4px 20.4px 23.4px rgba(0, 0, 0, 0.068),
        31.1px 32.7px 58.1px rgba(0, 0, 0, 0.108),
        42.7px 44.9px 128.4px rgba(0, 0, 0, 0.152),
        59px 62px 438px rgba(0, 0, 0, 0.24);
}

.one {
    width: 200px;
    text-align: center;
}
.two {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.content .introduce{
    margin: 0 auto;
    margin-top: 50px;
    width: 1000px;
    font-size: 16px;
    color: grey;
}

.content .introduce > p{
    margin: 15px;
    margin-top: 0px;
}

.main {
    margin-top: 40px;
}
.dishcategory-list {
    margin: 25px;
}
.main .dishcategory-list ul {
    width: 100%;
    display: flex;
}
.dishcategory-list ul li {
    flex: 1;
    width: 250px;
    height: 325px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: lightgrey;
}
.dishcategory-list ul li h4{
    margin: 8px 20px 10px 25px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.dishcategory-list ul li #dish_img {
    width: 100%;
    height: 260px;
}
.dishcategory-list .info span {
    color: #ff7c2d;
    font-weight: bold;
    margin-right: 100px;
}