body{
    background-color: lightgrey;
    min-width: 1024px;
}
header{
    background-color: #fff;
}
main{
    background-color: lightgrey;
    border-radius: 25px;
    margin: 0 auto;
    margin-top: 40px;
    width: 1300px;
    box-shadow:
        19.4px 20.4px 23.4px rgba(0, 0, 0, 0.068),
        31.1px 32.7px 58.1px rgba(0, 0, 0, 0.108),
        42.7px 44.9px 128.4px rgba(0, 0, 0, 0.152),
        59px 62px 438px rgba(0, 0, 0, 0.24);
}

ul,li{
    margin: 10px;
}

.header1{
    height: 40px;
    background-color: white;
    border-bottom: 1px solid green;
    border-radius: 25px 25px 0 0;
}
/* 头部设置 */
.header1 > div{
    margin-left: 16px;
    line-height: 40px;
    font-size: 16px;
    color: grey;
}
/* 最大的section设置 */
.section{
    display: flex;
}
/* 左边导航栏 */
.section .menuNavi{
    width: 30%;
    background-color: white;
    border-right: 1px solid green;
}
/* 导航栏右边区块 */
.section .menuMessages{
    width: 70%;
    background-color: white;
    /* border: 1px solid green; */
    padding-bottom: 25px;
}
/* 右边区块标题菜名 */
.section .menuMessages #dishname{
    display: block;
    margin: 15px 25px;
    font-size: 20px;
    /* border: 1px solid red; */
}

/* 右边区块菜名下方区域 */
.section .menuMessages .text{
    /* border: 1px solid red; */
    display: flex;
    margin: 10px 25px;
    justify-content: center;
}
/* 菜名图片 */
.section .menuMessages .text > div:nth-child(1){
    /* border: 1px solid blue; */
    margin: 5px;
    margin-left: 0px;
    width: 200px;
    height: 150px;
    cursor: pointer;
}

/* 点赞图标块 */
.section .menuMessages .text > div:nth-child(2) .icon{
    box-sizing: border-box;
    width: 32px;
    position: fixed;
    top: 300px;
    right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.section .menuMessages .text > div:nth-child(2) .icon span{
    width: 16px;
    height: 16px;
    margin: 30px auto;
    margin-bottom: 30px;
    cursor: pointer;
}
/* 设置icon变化 */
/* .section .menuMessages .text > div:nth-child(2) .icon span:nth-child(odd):hover{
    transform: rotate(-10deg) scale(2,1.8);
    transition: all 0.3s linear;
}
.section .menuMessages .text > div:nth-child(2) .icon span:nth-child(even):hover{
    transform: rotate(10deg) scale(2,1.8);
    transition: all 0.3s linear;
} */
.section .menuMessages .text > div:nth-child(2) .icon span > img{
    border: 1px solid red;
    /* position: flex;
    left: 0;
    right: 0; */
    margin: 0 auto;
}

/* 菜品用料 */
.section .menuMessages .text > div:nth-child(2) #material{
    /* border: 1px solid blue; */
    margin-top: 25px;
    margin-left: 10px;
    font-size: 15px;
}
.section .menuMessages .text > div:nth-child(2) #material > p{
    color: grey;
}

/* 步骤部分 */
.section .menuMessages .text1{
    border-top: 1px solid green;
}
.section .menuMessages .text1 > div{
    margin: 10px 25px;
    /* border: 1px solid red; */
}
.section .menuMessages .text1 #steps{
    margin-bottom: 10px;
    font-size: 18px;
}
.section .menuMessages .text1 li div{
    display: flex;
    margin: 10px;
}
.section .menuMessages .text1 li div > img{
    width: 150px;
    height: 100px;
}
.section .menuMessages .text1 li div > span{
    display: block;
    margin-left: 20px;
    margin-top: 20px;
}

/* 底部 */
