/*---候选区---*/
.selected-item {
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}

/*管理菜单样式*/
.manage {
    padding: 5px 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 40px;
}

.select-all-manage {
    display: none;
}

/*管理菜单项样式*/
.manage-item {
    flex: 0 0 1;
    min-width: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: none;
}