/*--- page ---*/
body {
    transition: all 0.3s ease-in-out;
}

p {
    font-size: 16px;
}

a {
    color: black;
}

/*--- wrapper ---*/
.wrapper {
    margin: 50px auto;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    padding: 20px;
    width: 1300px;
    position: absolute;
    left: calc(50% - 650px);
    box-shadow:
        19.4px 20.4px 23.4px rgba(0, 0, 0, 0.068),
        31.1px 32.7px 58.1px rgba(0, 0, 0, 0.108),
        42.7px 44.9px 128.4px rgba(0, 0, 0, 0.152),
        59px 62px 438px rgba(0, 0, 0, 0.24);
}

/*动画：将wrapper自下而上浮出*/
@keyframes floatFromBottom {
    0% {
        top: 1200px;
    }

    70% {
        top: 200px;
    }

    100% {
        top: 240px;
    }
}

.wrapperAnimation {
    animation: floatFromBottom 1s ease-in-out;
}

/*--- main ---*/
.main{
    padding-top: 10px;
}
/*设置按钮样式*/
.manage button,
.list-box button {
    border: 2px transparent solid;
}

/*listbox项目样式*/
.menu_title {
    display: inline;
}

.list-box p {
    text-indent: 2em;
}
/*--- sub-nav ---*/
/*列表样式*/
.sub-nav {
    position: relative;
    overflow: hidden;
    margin: 0 20px;
    height: 30px;
}

.sub-nav li {
    float: left;
    width: 100px;
    text-align: center;
    font-weight: bold;
}

/*跟踪条样式*/
.nav-tracker {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0 10px;
    width: 80px;
    height: 4px;
    transition: all 0.3s ease-in-out;
    background-color: black;
}