button {
    padding: 8px 16px;
    border-radius: 10px;
    background-color: inherit;
    border: 2px solid rgb(115, 115, 119);
}

button:hover {
    background-color: rgba(115, 115, 119, 0.151);
    cursor: pointer;
}

button:active {
    border: #0d6feef6 2px solid;
    outline: #0d6feef6 2px solid;
}