body{
    margin: 0 auto;
}
/* 头部开始 */
header{
    
    display: flex;
    height: 100px;
    /* background-color: #dc8a0d; */
    margin: 0 auto 62px;
   justify-content: space-around;
}
.login{
    
    height: 100px;
    width: 30%;
   margin-top: 30px;
    /* background-color: rgb(135, 235, 210); */
}
.login ul li{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.login li a{
    line-height: 100px;
}
.login li a:hover{
    color: red;
}
.search{
    position: relative;
    width:40%;
    height: 100px;
    margin-top: 30px;
    /* background-color: rgb(235, 135, 227); */
    
}   
.search .s_i_b{
    position: absolute;
    top: 50px;
    left: 20px;
    border:1px solid #ff6a00;
}
.search input{
    width: 400px;
    height: 40px;
    border:1px solid #670664;
    border-right: 0;
    font-size: 14px;
    padding-left: 15px;
    float: left;
   
    
}
.search button{
    width: 80px;
    height: 40px;
    font-size: 16px;
    float: left;
    background-color: #b1191a;
    color: #f1f1f1;
}
.logo{
   
    height: 100px;
    width: 30%;
    /* background-color: #130c52; */  
}
.login img{
    height: 50px;
}
/* 头部结束 */