<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yourgourmet.mapper.FollowMapper">
    <resultMap id="followResultMap" type="Follow">
        <result column="pk_fk_user_id" property="userId"/>
        <result column="pk_fk_follow_id" property="followId"/>
    </resultMap>
    <select id="" resultMap="followResultMap">

    </select>
</mapper>