<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yourgourmet.mapper.RecipeMapper">
    <resultMap id="recipeResultMap" type="Recipe">
        <result column="pk_recipe_id" property="recipeId"/>
        <result column="fk_user_id" property="userId"/>
        <result column="recipe_name" property="recipeName"/>
        <result column="recipe_publish_time" property="recipePublishTime"/>
        <result column="recipe_image" property="recipeImage"/>
        <result column="recipe_video" property="recipeVideo"/>
        <result column="recipe_introduction" property="recipeIntroduction"/>
        <result column="recipe_like" property="recipeLike"/>
        <result column="recipe_dislike" property="recipeDislike"/>
    </resultMap>
    <select id="existMenu" resultType="java.lang.Boolean">
        SELECT EXISTS(SELECT recipe_name
        FROM recipe
        WHERE recipe_name = #{recipeName})
    </select>
    <select id="selectByMenuName" resultType="map">
        SELECT DISTINCT cuisine.cuisine_name, recipe.recipe_name, recipe.recipe_image, recipe.recipe_introduction
        FROM cuisine,
        recipe,
        belong
        WHERE recipe.recipe_name LIKE CONCAT('%', #{context}, '%')
        AND cuisine.pk_cuisine_id = belong.fk_cuisine_id
        AND recipe.pk_recipe_id = belong.pk_fk_recipe_id;
    </select>
    <select id="selectById" resultMap="recipeResultMap">
        SELECT fk_user_id, recipe_name, recipe_publish_time, recipe_image, recipe_video, recipe_introduction,
        recipe_like, recipe_dislike
        FROM recipe
        WHERE pk_recipe_id = #{recipeId};
    </select>

</mapper>