<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yourgourmet.mapper.UserMapper">
    <resultMap id="userResultMap" type="User">
        <result column="pk_user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="user_phone" property="userPhone"/>
        <result column="user_password" property="userPassword"/>
        <result column="user_group" property="userGroup"/>
        <result column="user_gender" property="userGender"/>
        <result column="user_email" property="userEmail"/>
        <result column="user_avatar" property="userAvatar"/>
        <result column="user_introduction" property="userIntroduction"/>
    </resultMap>
    <insert id="insertUser">
        INSERT INTO user(pk_user_id, user_name, user_phone, user_password, user_Email) VALUES (REPLACE(UUID(), "-", ""),
        #{userName}, #{userPhone}, #{userPassword}, <if test="userEmail!=null">#{userEmail}</if>);
    </insert>
    <update id="updatePassword">
        UPDATE user SET user_password = #{userPassword} WHERE pk_user_id = #{userId};
    </update>
    <update id="updateUserInfo">
        UPDATE user SET user_name = #{userName}, user_phone = #{userPhone}, user_email = #{userEmail}, user_gender =
        #{userGender}, user_introduction = #{userIntroduction} WHERE pk_user_id = #{userId};
    </update>
    <update id="updateUserAvatar">
        UPDATE user SET user_avatar = #{userAvatar} WHERE pk_user_id = #{userId};
    </update>
    <delete id="deleteUser">
        DELETE FROM user WHERE pk_user_id = #{userId} AND user_password = #{userPassword};
    </delete>
    <select id="selectByUserNameAndPassword" resultType="java.lang.Integer">
        SELECT EXISTS(SELECT pk_user_id FROM user WHERE user_name = #{userName} AND user_password = #{userPassword});
    </select>
    <select id="selectByUserId" resultType="java.lang.Boolean">
        SELECT EXISTS(SELECT pk_user_id FROM user WHERE pk_user_id = #{userId});
    </select>
    <select id="selectAllByUserId" resultMap="userResultMap">
        SELECT user_name, user_phone, user_group, user_gender, user_email, user_avatar, user_introduction FROM user
        WHERE pk_user_id = #{userId};
    </select>
    <select id="selectUserIdByUserNameAndPassword" resultType="java.lang.String">
        SELECT pk_user_id FROM user WHERE user_name = #{userName} AND user_password = #{userPassword};
    </select>
</mapper>