/*全局设置*/
#mymenu {
    padding: 50px;
    padding-top: 0px;
}

/*设置块状选择区*/
#mymenu a {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    padding: 15px;
}

#mymenu a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

/*设置菜谱列表样式*/
#mymenu img {
    flex: none;
    display: block;
    width: 130px;
    height: 90px;
    margin: 10px;
    border-radius: 12px;
    margin-right: 50px;
}

#mymenu h2 {
    line-height: 40px;
}

#mymenu p {
    max-width: 900px;
    text-indent: 2em;
    line-height: 1.4em;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/*设置设置样式*/
#mymenu .setting {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
}

#mymenu label{
    text-align: center;
}

/*设置标题和菜系在同一排*/
#mymenu h2 {
    display: inline;
}

#mymenu input[type="checkbox"]{
    width: 30px;
    height: 30px;
}