body{
    background-color: lightgray;
}
main{
    margin: 0 auto;
    margin-top: 30px;
    width: 1000px;
}
p,h4,ul,li{
    margin: 0;
    padding: 0;
}

ul,li{
    list-style: none;
    margin: 10px;
}

.header{
    height: 40px;
    background-color: white;
    border: 1px solid green;
}
/* 头部设置 */
.header > div{
    margin-left: 16px;
    line-height: 40px;
    font-size: 16px;
    color: grey;
}
/* 最大的section设置 */
.section{
    display: flex;
}
/* 左边导航栏 */
.section .menuNavi{
    width: 30%;
    background-color: white;
    border: 1px solid green;
}
/* 导航栏右边区块 */
.section .menuMessages{
    width: 70%;
    background-color: white;
    border: 1px solid green;
    padding-bottom: 25px;
}
/* 右边区块标题菜名 */
.section .menuMessages #dishname{
    display: block;
    margin: 15px 25px;
    font-size: 20px;
    /* border: 1px solid red; */
}

/* 右边区块菜名下方区域 */
.section .menuMessages .text{
    /* border: 1px solid red; */
    display: flex;
    margin: 10px 25px;
    justify-content: center;
}
/* 菜名图片 */
.section .menuMessages .text > div:nth-child(1){
    /* border: 1px solid blue; */
    margin: 5px;
    margin-left: 0px;
    width: 200px;
    height: 150px;
}


/* 点赞图标块 */
.section .menuMessages .text > div:nth-child(2) .icon{
    display: flex;
    justify-content: space-between;
    border: 1px solid blue;
    width: 200px;
    padding: 1px;
    line-height: 16px;
}

/* 菜品用料 */
.section .menuMessages .text > div:nth-child(2) #material{
    /* border: 1px solid blue; */
    margin-top: 25px;
    margin-left: 10px;
    font-size: 15px;
}
.section .menuMessages .text > div:nth-child(2) #material > p{
    color: grey;
}

/* 右边区块步骤 */
.section .menuMessages .text1{
    border-top: 1px solid green;
}
.section .menuMessages .text1 > div{
    margin: 10px 25px;
    /* border: 1px solid red; */
}
.section .menuMessages .text1 #steps{
    margin-bottom: 10px;
    font-size: 18px;
}
.section .menuMessages .text1 li div{
    display: flex;
    margin: 10px;
}
.section .menuMessages .text1 li div > img{
    width: 150px;
    height: 100px;
}
.section .menuMessages .text1 li div > span{
    display: block;
    margin-left: 20px;
    margin-top: 20px;
}

/* 底部 */
footer{
    background-color: white;
    border: 1px solid green;
}