body{
    background-color: lightgray;
}
main{
    margin: 0 auto;
    margin-top: 30px;
    width: 1000px;
}
p,h4,ul,li{
    margin: 0;
    padding: 0;
}

ul,li{
    list-style: none;
    margin: 10px;
}

hr{
    size: 1;
    width: 300px;
    margin: 20px 1px;
}

.nav{
    height: 40px;
    background-color: white;
    border: 1px solid red;
}
.nav > div{
    margin-left: 16px;
    line-height: 40px;
    font-size: 16px;
    color: grey;
}

.section{
    display: flex;
}
.section .menuNavi{
    width: 30%;
    background-color: white;
    border: 1px solid red;
}
.section .menuMessages{
    width: 70%;
    background-color: white;
    border: 1px solid red;
    padding-bottom: 25px;
}
.section .menuMessages #dishname{
    display: block;
    margin-top: 15px;
    margin-left: 25px;
    margin-bottom: 15px;
    font-size: 20px;
}

.section .menuMessages .text{
    display: flex;
    margin: 0px 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 14px;
    color: grey;
    border: 1px solid green;
}
<!--设置icon图片-->
.section .menuMessages .text div:nth-child(1) > img{
    margin-top: 25px;
    margin-left: 25px;
    height: 150px;
    width: 200px;
}
<!--设置菜名区域--> */
.section .menuMessages .text .two{
    height: 200px;
    margin-left: 50px;
    border: 1px solid red;
    margin-top: 25px;
}

<!--设置菜名区域div图标块-->
.section .menuMessages .text div:nth-child(2) .icon{
    position: fixed;
    float: left;
}
<!--设置菜品用料-->
.section .menuMessages .text div:nth-child(2) #material{
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 18px;
    font-size: 18px;
    color: black;
    border: 1px solid red ;
}
.section .menuMessages .text div:nth-child(2) #material > p{
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 16px;
    font-size: 16px;
    color: grey;
}
<!--设置图标位置-->
.section .menuMessages .text div:nth-child(2) > div span{
    margin-left: 50px;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid red;
}
<!--步骤设置-->
.section .menuMessages .text1{
    margin: 0px 25px;
    border: 1px solid green;
}
.section .menuMessages .text1 #steps{
    margin-bottom: 10px;
    font-size: 18px;
}
.section .menuMessages .text1 li div{
    display: flex;
    margin: 10px;
}
.section .menuMessages .text1 li div > img{
    width: 150px;
    height: 100px;
    border: 1px solid red;
}
.section .menuMessages .text1 li div > span{
    display: block;
    margin-left: 20px;
    margin-top: 20px;
}

footer{
    background-color: white;
    border: 1px solid red;
}
