.wrapper {
    width: 1300px;
    margin: 10px auto;
}

/* 轮播图开始 */
.wrapper .main {
    width: 100%;
    height: 500px;
    display: flex;
}

.main .main_hea {
    width: 65%;
    height: 460px;
    background-color: #d74242;
    position: relative;
}

.picture .picture_text {
    width: 100%;
    height: 60px;
    background-color: #2cd95d;
    position: absolute;
    bottom: 0;
}

.main_hea ul li {
    height: 65px;
    width: 20%;
    border: 0px solid red;
    float: left;
    text-align: center;
    line-height: 60px;
}

.main .rang {
    width: 25%;
    height: 460px;
    flex: 1;
    background-color: #75d937;
    margin-left: 10px;
}

.main_hea .picture {
    height: 400px;
    width: 100%;
    overflow: hidden;
}

.picture #list {
    position: relative;
    left: 0;
    top: 0;
    width: 4225px;
    height: 100%;
    display: flex;
    animation: 20s move infinite;
}

.picture #list:hover {
    animation-play-state: paused;
}

.picture #list li {
    width: 845px;
    height: 100%;
    flex: 1;
}

.picture #list li img {
    width: 845px;
    height: 400px;
}
.main_hea .picture_text ul li:hover{
    background-color: #a5a2a2;
}
@keyframes move2{
    0%,
    100%{
        left: -845px;
    }
}
@keyframes move {

    0%,
    10% {
        left: 0px;
    }

    20%,
    30% {
        left: -845px;
    }

    40%,
    50% {
        left: -1690px;
    }

    60%,
    70% {
        left: 2535px;
    }

    80%,
    90% {
        left: 3380px;
    }

    100% {
        left: 4225px;
    }

}

/* 轮播图结束 */
/* 视频开始 */
.main_mid {
    width: 100%;

}

.main_mid .video {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-between;

}
.main_mid .video ul{
    display: flex;
}
.main_mid .video h2 {
    font-weight: bold;
    font-size: 20px;
}

.main_mid .video li {
    display: block;
    width: 18%;
    height: 450px;
    flex: 1;
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 20px;
}

/* 视频结束 */
/* 核心内容开始 */
.main_f {
    margin-top: 40px;
}

.main_f .box-bd ul {
    width: 100%;
    display: flex;
}

.box-bd ul li {
    flex: 1;
    width: 250px;
    height: 325px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: rgb(236, 227, 227);
}

.box-bd ul li h4 {
    margin: 8px 20px 10px 25px;
    font-size: 18px;
    color: #050505;
    font-weight: bold;
}

.box-bd ul li #img_main {
    width: 100%;
    height: 260px;
}

.box-bd .info {
    margin: 8px 20px 5px 25px;
    font-size: 16px;
    color: #999;
}

.box-bd .info span {
    color: #ff7c2d;
    font-weight: bold;
    margin-right: 100px;
}
.main_mid .video video{
    border-radius: 8%;
    height: 100%;
    width: 100%;
}
.main_mid .video video::-webkit-media-controls-current-time-display{
    display: none;
}
.main_mid .video video::-webkit-media-controls-timeline{
    display: none;
}
/* .main_mid .video video::-webkit-media-controls{
    display: none !important;
} */
.main_mid .video video::-webkit-media-controls-time-display{
    display: none;
}
.main_mid .video video::-webkit-media-controls-remaining-display{
    display: none;
}
.main_mid .video video::-webkit-media-controls-fullscreen-button{
    display: none;
}
/* .main_mid .video video::-webkit-media-controls-play-button{
    display: none;
} */
.main_mid .video video::-webkit-media-controls-mute-button{
    display: none;
}
.main_mid .video video::-webkit-media-controls-toggle-closed-captions-button{
    display: none;
}
/* 核心内容结束 */